.container-form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,#c5deec, #658597)!important;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.519);
    border-radius: 20px;

    padding: 20px;
    margin-top: 10px !important;

}

.container-form input {
    margin-bottom: 5px;
    font-size: medium;
    color: #333;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: auto;
    text-align: center;
}

.container-form button {
    padding:5px 45px;
    font-size: 14px;
    background-color: #a6a6a6;
    color: #535353;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: 2px solid #949292;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-self: center;
    width: fit-content;
}

.container-form button:hover {
    background-color: #9a9a9a;
}

.voltar {
    position: fixed;
    bottom: 20px;
    left: 45px;
    transform: translateX(-50%);
}