.containerDataUser {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background: #f1e9e9;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
    margin: 0;
    margin-top: 10px !important;
}